.FREE-online-courses {
  background-color: #ffffff;
  display: flex;
  /*flex-direction: row;*/
  justify-content: center;
  
}

.FREE-online-courses .div {
  background-color: #ffffff;
  height: 900px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
  @media screen and (max-width: 700px) {
		.FREE-online-courses .div {
		display: inline-block;
    }
}

.FREE-online-courses .buttons {
  background-color: var(--black);
  width: 120;
  height:40;
  border-style:none;
  border-radius: 8px;
  left: 0;
  position: absolute;
  top: 3px;
  
}

.FREE-online-courses .GO-PREMIUM-BANNER {
  height: 193px;
  left: 920px;
  position: absolute;
  top: 683px;
  width: 446px;
}

.FREE-online-courses .overlap-group {
  background-color: var(--grey);
  border-radius: 14px;
  height: 193px;
  position: relative;
  width: 440px;
}

.FREE-online-courses .unlock-premium {
  color: var(--black);
  font-family: var(--b1-font-family);
  font-size: var(--b1-font-size);
  font-style: var(--b1-font-style);
  font-weight: var(--b1-font-weight);
  left: 24px;
  letter-spacing: var(--b1-letter-spacing);
  line-height: var(--b1-line-height);
  position: absolute;
  top: 65px;
}

.FREE-online-courses .overlap {
  background-color: var(--black);
  border-radius: 8px;
  height: 40px;
  left: 24px;
  position: absolute;
  top: 137px;
  width: 120px;
}

.FREE-online-courses .text-wrapper {
  color: #ffffff;
  font-family: var(--BUTTON-font-family);
  font-size: var(--BUTTON-font-size);
  font-style: var(--BUTTON-font-style);
  font-weight: var(--BUTTON-font-weight);
  left: 24px;
  letter-spacing: var(--BUTTON-letter-spacing);
  line-height: var(--BUTTON-line-height);
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.FREE-online-courses .text-wrapper-2 {
  color: var(--black);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  left: 24px;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  position: absolute;
  top: 24px;
}

.FREE-online-courses .group {
  height: 125px;
  left: 267px;
  position: absolute;
  top: 37px;
  width: 125px;
}

.FREE-online-courses .YOUR-STATISTICS {
  height: 379px;
  left: 924px;
  position: absolute;
  top: 255px;
  width: 458px;
}

.FREE-online-courses .overlap-2 {
  background-color: var(--grey);
  border-radius: 8px;
  height: 32px;
  left: 348px;
  position: absolute;
  top: 50px;
  width: 88px;
}

.FREE-online-courses .text-wrapper-3 {
  color: var(--black);
  font-family: var(--BUTTON-font-family);
  font-size: var(--BUTTON-font-size);
  font-style: var(--BUTTON-font-style);
  font-weight: var(--BUTTON-font-weight);
  left: 16px;
  letter-spacing: var(--BUTTON-letter-spacing);
  line-height: var(--BUTTON-line-height);
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.FREE-online-courses .img {
  height: 4px;
  left: 65px;
  position: absolute;
  top: 15px;
  width: 7px;
}

.FREE-online-courses .text-wrapper-4 {
  color: var(--black);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  left: 0;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  position: absolute;
  top: 54px;
}

.FREE-online-courses .text-wrapper-5 {
  color: var(--black);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  left: 136px;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  opacity: 0.3;
  position: absolute;
  top: 54px;
}

.FREE-online-courses .text-wrapper-6 {
  color: var(--black);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  left: 0;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  position: absolute;
  top: 0;
}

.FREE-online-courses .group-2 {
  height: 266px;
  left: 0;
  position: absolute;
  top: 112px;
  width: 476px;
}

.FREE-online-courses .text-wrapper-7 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 19px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 254px;
  white-space: nowrap;
  width: 41px;
}

.FREE-online-courses .text-wrapper-8 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 0;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  text-align: right;
  top: 225px;
  white-space: nowrap;
  width: 6px;
}

.FREE-online-courses .text-wrapper-9 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 0;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  text-align: right;
  top: 180px;
  white-space: nowrap;
  width: 6px;
}

.FREE-online-courses .text-wrapper-10 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 0;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  text-align: right;
  top: 135px;
  white-space: nowrap;
  width: 6px;
}

.FREE-online-courses .text-wrapper-11 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 0;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  text-align: right;
  top: 90px;
  white-space: nowrap;
  width: 6px;
}

.FREE-online-courses .text-wrapper-12 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 0;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  text-align: right;
  top: 45px;
  white-space: nowrap;
  width: 6px;
}

.FREE-online-courses .text-wrapper-13 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 0;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
  width: 6px;
}

.FREE-online-courses .text-wrapper-14 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 91px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 254px;
  white-space: nowrap;
  width: 22px;
}

.FREE-online-courses .text-wrapper-15 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 155px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 254px;
  white-space: nowrap;
  width: 29px;
}

.FREE-online-courses .text-wrapper-16 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 226px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 254px;
  white-space: nowrap;
  width: 22px;
}

.FREE-online-courses .text-wrapper-17 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 290px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 254px;
  white-space: nowrap;
  width: 15px;
}

.FREE-online-courses .text-wrapper-18 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 347px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 254px;
  white-space: nowrap;
  width: 22px;
}

.FREE-online-courses .text-wrapper-19 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 411px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 254px;
  white-space: nowrap;
  width: 26px;
}

.FREE-online-courses .overlap-3 {
  height: 223px;
  left: 6px;
  position: absolute;
  top: 14px;
  width: 443px;
}

.FREE-online-courses .divider-graph {
  height: 1px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 391px;
}

.FREE-online-courses .divider-graph-2 {
  height: 1px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 173px;
  width: 391px;
}

.FREE-online-courses .divider-graph-3 {
  height: 1px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 128px;
  width: 391px;
}

.FREE-online-courses .divider-graph-4 {
  height: 5px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 83px;
  width: 411px;
}

.FREE-online-courses .divider-graph-5 {
  height: 6px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 411px;
}

.FREE-online-courses .pointer {
  height: 43px;
  left: 70px;
  position: absolute;
  top: 113px;
  width: 52px;
}

.FREE-online-courses .circle-pointer {
  height: 15px;
  left: 19px;
  position: absolute;
  top: 31px;
  width: 15px;
}

.FREE-online-courses .value {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;
}

.FREE-online-courses .overlap-group-2 {
  background-image: url(../../../static/img/sheet-13.svg);
  background-size: 100% 100%;
  height: 58px;
  left: -9px;
  position: relative;
  top: -10px;
  width: 83px;
}

.FREE-online-courses .sheet {
  height: 28px;
  left: 10px;
  position: absolute;
  top: 11px;
  width: 50px;
}

.FREE-online-courses .pointer-value {
  color: var(--black);
  font-family: var(--CAPTION-2-font-family);
  font-size: var(--CAPTION-2-font-size);
  font-style: var(--CAPTION-2-font-style);
  font-weight: var(--CAPTION-2-font-weight);
  height: 8px;
  left: 22px;
  letter-spacing: var(--CAPTION-2-letter-spacing);
  line-height: var(--CAPTION-2-line-height);
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
  width: 26px;
}

.FREE-online-courses .pointer-2 {
  height: 43px;
  left: 137px;
  position: absolute;
  top: 70px;
  width: 52px;
}

.FREE-online-courses .overlap-group-3 {
  background-image: url(../../../static/img/sheet-11.svg);
  background-size: 100% 100%;
  height: 58px;
  left: -9px;
  position: relative;
  top: -10px;
  width: 83px;
}

.FREE-online-courses .pointer-value-2 {
  color: var(--black);
  font-family: var(--CAPTION-2-font-family);
  font-size: var(--CAPTION-2-font-size);
  font-style: var(--CAPTION-2-font-style);
  font-weight: var(--CAPTION-2-font-weight);
  height: 8px;
  left: 18px;
  letter-spacing: var(--CAPTION-2-letter-spacing);
  line-height: var(--CAPTION-2-line-height);
  position: absolute;
  text-align: center;
  top: 17px;
  white-space: nowrap;
  width: 34px;
}

.FREE-online-courses .pointer-3 {
  height: 43px;
  left: 265px;
  position: absolute;
  top: 0;
  width: 52px;
}

.FREE-online-courses .overlap-group-4 {
  background-image: url(../../../static/img/sheet-9.svg);
  background-size: 100% 100%;
  height: 58px;
  left: -9px;
  position: relative;
  top: -10px;
  width: 83px;
}

.FREE-online-courses .today-graph {
  height: 184px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 392px;
}

.FREE-online-courses .pointer-4 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 179px;
  width: 52px;
}

.FREE-online-courses .overlap-group-5 {
  background-image: url(../../../static/img/sheet-7.svg);
  background-size: 100% 100%;
  height: 58px;
  left: -9px;
  position: relative;
  top: -10px;
  width: 83px;
}

.FREE-online-courses .pointer-5 {
  height: 43px;
  left: 205px;
  position: absolute;
  top: 136px;
  width: 52px;
}

.FREE-online-courses .overlap-group-6 {
  background-image: url(../../../static/img/sheet-5.svg);
  background-size: 100% 100%;
  height: 58px;
  left: -9px;
  position: relative;
  top: -10px;
  width: 83px;
}

.FREE-online-courses .pointer-6 {
  height: 43px;
  left: 326px;
  position: absolute;
  top: 45px;
  width: 52px;
}

.FREE-online-courses .overlap-group-7 {
  background-image: url(../../../static/img/sheet-3.svg);
  background-size: 100% 100%;
  height: 58px;
  left: -9px;
  position: relative;
  top: -10px;
  width: 83px;
}

.FREE-online-courses .pointer-7 {
  height: 43px;
  left: 391px;
  position: absolute;
  top: 91px;
  width: 52px;
}

.FREE-online-courses .overlap-group-8 {
  background-image: url(../../../static/img/sheet-1.svg);
  background-size: 100% 100%;
  height: 58px;
  left: -9px;
  position: relative;
  top: -10px;
  width: 83px;
}

.FREE-online-courses .divider-graph-6 {
  height: 7px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 411px;
}

.FREE-online-courses .STATS-BOXES {
  height: 106px;
  left: 920px;
  position: absolute;
  top: 119px;
  width: 440px;
}

.FREE-online-courses .STATS-BOX {
  background-color: var(--grey);
  border-radius: 14px;
  height: 96px;
  left: 232px;
  position: absolute;
  top: 0;
  width: 208px;
}

.FREE-online-courses .group-3 {
  height: 74px;
  left: 37px;
  position: relative;
  top: 4px;
  width: 138px;
}

.FREE-online-courses .courses-in-progress {
  color: var(--black);
  font-family: var(--b1-font-family);
  font-size: var(--b1-font-size);
  font-style: var(--b1-font-style);
  font-weight: var(--b1-font-weight);
  left: 54px;
  letter-spacing: var(--b1-letter-spacing);
  line-height: var(--b1-line-height);
  position: absolute;
  top: 26px;
}

.FREE-online-courses .text-wrapper-20 {
  color: var(--black);
  font-family: var(--BIG-NUMBERS-font-family);
  font-size: var(--BIG-NUMBERS-font-size);
  font-style: var(--BIG-NUMBERS-font-style);
  font-weight: var(--BIG-NUMBERS-font-weight);
  left: 0;
  letter-spacing: var(--BIG-NUMBERS-letter-spacing);
  line-height: var(--BIG-NUMBERS-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 38px;
}

.FREE-online-courses .overlap-group-wrapper {
  height: 106px;
  left: 0;
  position: absolute;
  top: 0;
  width: 208px;
}

.FREE-online-courses .overlap-group-9 {
  height: 106px;
  position: relative;
}

.FREE-online-courses .rectangle {
  background-color: var(--grey);
  border-radius: 14px;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 208px;
}

.FREE-online-courses .group-4 {
  height: 102px;
  left: 35px;
  position: absolute;
  top: 4px;
  width: 142px;
}

.FREE-online-courses .courses-completed {
  color: var(--black);
  font-family: var(--b1-font-family);
  font-size: var(--b1-font-size);
  font-style: var(--b1-font-style);
  font-weight: var(--b1-font-weight);
  left: 62px;
  letter-spacing: var(--b1-letter-spacing);
  line-height: var(--b1-line-height);
  position: absolute;
  top: 26px;
}

.FREE-online-courses .text-wrapper-21 {
  color: var(--black);
  font-family: var(--BIG-NUMBERS-font-family);
  font-size: var(--BIG-NUMBERS-font-size);
  font-style: var(--BIG-NUMBERS-font-style);
  font-weight: var(--BIG-NUMBERS-font-weight);
  left: 0;
  letter-spacing: var(--BIG-NUMBERS-letter-spacing);
  line-height: var(--BIG-NUMBERS-line-height);
  position: absolute;
  top: 0;
}

.FREE-online-courses .NAVIGATION {
  height: 43px;
  left: 921px;
  position: absolute;
  top: 52px;
  width: 439px;
}

.FREE-online-courses .profile-picture {
  height: 40px;
  left: 384px;
  position: absolute;
  top: 3px;
  width: 55px;
}

.FREE-online-courses .img-2 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.FREE-online-courses .group-5 {
  height: 4px;
  left: 48px;
  position: absolute;
  top: 19px;
  width: 7px;
}

.FREE-online-courses .notification {
  height: 36px;
  left: 335px;
  position: absolute;
  top: 0;
  width: 33px;
}

.FREE-online-courses .overlap-group-10 {
  height: 36px;
  position: relative;
  width: 31px;
}

.FREE-online-courses .group-6 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 24px;
}

.FREE-online-courses .ellipse {
  height: 16px;
  left: 15px;
  position: absolute;
  top: 2px;
  width: 16px;
}

.FREE-online-courses .ellipse-2 {
  background-color: #f45a5a;
  border-radius: 7px;
  height: 14px;
  left: 16px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.FREE-online-courses .text-wrapper-22 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 8px;
}

.FREE-online-courses .search-bar {
  background-color: var(--grey);
  border-radius: 8px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 300px;
}

.FREE-online-courses #input {
  background-color: var(--grey);
  width: 300;
  height:40;
  border-style:none;
  border-radius: 8px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 300px;
}

.FREE-online-courses .group-7 {
  height: 21px;
  left: 16px;
  position: absolute;
  top: 11px;
  width: 21px;
}

.FREE-online-courses .COURSES-SECTION {
  height: 554px;
  left: 236px;
  position: absolute;
  top: 359px;
  width: 630px;
}

.FREE-online-courses .PHOTOSHOP-ESSENCE {
  height: 80px;
  left: 0;
  position: absolute;
  top: 474px;
  width: 630px;
}

.FREE-online-courses .overlap-group-11 {
  background-image: url(../../../static/img/rectangle-11.svg);
  background-size: 100% 100%;
  height: 66px;
  position: relative;
  width: 620px;
}

.FREE-online-courses .div-wrapper {
  background-color: var(--black);
  border-radius: 8px;
  height: 40px;
  left: 476px;
  position: absolute;
  top: 20px;
  width: 120px;
}

.FREE-online-courses .group-wrapper {
  background-image: url(../../../static/img/rectangle-20.svg);
  background-size: 100% 100%;
  height: 58px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 64px;
}

.FREE-online-courses .group-8 {
  height: 32px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 33px;
}

.FREE-online-courses .text-wrapper-23 {
  color: var(--black);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  left: 96px;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  position: absolute;
  top: 20px;
}

.FREE-online-courses .text-wrapper-24 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 96px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 47px;
  white-space: nowrap;
}

.FREE-online-courses .text-wrapper-25 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 425px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.FREE-online-courses .text-wrapper-26 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 308px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.FREE-online-courses .flame {
  height: 16px;
  left: 402px;
  position: absolute;
  top: 33px;
  width: 15px;
}

.FREE-online-courses .group-9 {
  height: 16px;
  left: 284px;
  position: absolute;
  top: 34px;
  width: 16px;
}

.FREE-online-courses .BASICS-OF-DRAWING {
  height: 80px;
  left: 0;
  position: absolute;
  top: 378px;
  width: 630px;
}

.FREE-online-courses .overlap-4 {
  background-image: url(../../../static/img/rectangle-7.svg);
  background-size: 100% 100%;
  height: 80px;
  position: relative;
  width: 620px;
}

.FREE-online-courses .text-wrapper-27 {
  color: var(--black);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  left: 96px;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  position: absolute;
  top: 19px;
}

.FREE-online-courses .text-wrapper-28 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 96px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 46px;
  white-space: nowrap;
}

.FREE-online-courses .img-wrapper {
  background-image: url(../../../static/img/rectangle-32.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 64px;
}

.FREE-online-courses .group-10 {
  height: 32px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 32px;
}

.FREE-online-courses .flame-2 {
  height: 16px;
  left: 402px;
  position: absolute;
  top: 32px;
  width: 15px;
}

.FREE-online-courses .group-11 {
  height: 16px;
  left: 284px;
  position: absolute;
  top: 33px;
  width: 16px;
}

.FREE-online-courses .MASTER-INSTAGRAM {
  height: 80px;
  left: 0;
  position: absolute;
  top: 282px;
  width: 630px;
}

.FREE-online-courses .text-wrapper-29 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 426px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.FREE-online-courses .text-wrapper-30 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 309px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.FREE-online-courses .image-wrapper {
  background-image: url(../../../static/img/rectangle-19.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 64px;
}

.FREE-online-courses .image {
  height: 32px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 32px;
}

.FREE-online-courses .flame-3 {
  height: 16px;
  left: 403px;
  position: absolute;
  top: 32px;
  width: 15px;
}

.FREE-online-courses .group-12 {
  height: 16px;
  left: 285px;
  position: absolute;
  top: 33px;
  width: 16px;
}

.FREE-online-courses .ANALOG-PHOTOGRAPHY {
  height: 80px;
  left: 0;
  position: absolute;
  top: 186px;
  width: 630px;
}

.FREE-online-courses .text-wrapper-31 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 426px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.FREE-online-courses .text-wrapper-32 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 309px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.FREE-online-courses .overlap-group-12 {
  background-image: url(../../../static/img/rectangle-12.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 64px;
}

.FREE-online-courses .LEARN-FIGMA {
  height: 80px;
  left: 0;
  position: absolute;
  top: 90px;
  width: 630px;
}

.FREE-online-courses .frame {
  height: 32px;
  left: 21px;
  position: absolute;
  top: 16px;
  width: 21px;
}

.FREE-online-courses .text-wrapper-33 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 427px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.FREE-online-courses .text-wrapper-34 {
  color: var(--black);
  font-family: var(--CAPTION-font-family);
  font-size: var(--CAPTION-font-size);
  font-style: var(--CAPTION-font-style);
  font-weight: var(--CAPTION-font-weight);
  left: 310px;
  letter-spacing: var(--CAPTION-letter-spacing);
  line-height: var(--CAPTION-line-height);
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.FREE-online-courses .flame-4 {
  height: 16px;
  left: 404px;
  position: absolute;
  top: 32px;
  width: 15px;
}

.FREE-online-courses .group-13 {
  height: 16px;
  left: 286px;
  position: absolute;
  top: 33px;
  width: 16px;
}

.FREE-online-courses .text-wrapper-35 {
  color: var(--black);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  left: 112px;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  opacity: 0.3;
  position: absolute;
  top: 54px;
}

.FREE-online-courses .text-wrapper-36 {
  color: var(--black);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  left: 229px;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  opacity: 0.3;
  position: absolute;
  top: 54px;
}

.FREE-online-courses .text-wrapper-37 {
  color: var(--black);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  left: 334px;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  opacity: 0.3;
  position: absolute;
  top: 54px;
}

.FREE-online-courses .MY-COURSE {
  height: 80px;
  left: 236px;
  position: absolute;
  top: 239px;
  width: 628px;
}

.FREE-online-courses .overlap-5 {
  background-image: url(../../../static/img/rectangle-21.svg);
  background-size: 100% 100%;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 500px;
}

.FREE-online-courses .overlap-group-13 {
  background-image: url(../../../static/img/rectangle-22.svg);
  background-size: 100% 100%;
  height: 64px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 64px;
}

.FREE-online-courses .overlap-6 {
  left: 356px;
  position: absolute;
  top: 20px;
  width: 120px;
}

.FREE-online-courses .text-wrapper-38 {
  color: #ffffff;
  font-family: var(--BUTTON-font-family);
  font-size: var(--BUTTON-font-size);
  font-style: var(--BUTTON-font-style);
  font-weight: var(--BUTTON-font-weight);
  left: 33px;
  letter-spacing: var(--BUTTON-letter-spacing);
  line-height: var(--BUTTON-line-height);
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.FREE-online-courses .text-wrapper-39 {
  color: var(--black);
  font-family: "Baloo Bhai-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
}

.FREE-online-courses .text-wrapper-40 {
  color: var(--black);
  font-family: "Roboto", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46px;
  white-space: nowrap;
}

.FREE-online-courses .overlap-7 {
  height: 40px;
  left: 276px;
  position: absolute;
  top: 22px;
  width: 40px;
}

.FREE-online-courses .text-wrapper-41 {
  color: var(--black);
  font-family: "Roboto", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.FREE-online-courses .arrows {
  height: 40px;
  left: 524px;
  position: absolute;
  top: 22px;
  width: 96px;
}

.FREE-online-courses .group-14 {
  border: 2px solid;
  border-color: var(--black);
  border-radius: 100px;
  height: 40px;
  left: 56px;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  width: 40px;
}

.FREE-online-courses .group-15 {
  height: 11px;
  left: 10px;
  position: absolute;
  top: 13px;
  transform: rotate(90deg);
  width: 16px;
}

.FREE-online-courses .group-16 {
  border: 2px solid;
  border-color: var(--black);
  border-radius: 100px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(90deg);
  width: 40px;
}

.FREE-online-courses .group-17 {
  height: 11px;
  left: 10px;
  position: absolute;
  top: 13px;
  transform: rotate(-90deg);
  width: 16px;
}

.FREE-online-courses .HEADER {
  background-color: transparent;
  height: 191px;
  left: 236px;
  position: absolute;
  top: 24px;
  width: 624px;
}

.FREE-online-courses .overlap-8 {
  height: 191px;
  position: relative;
  width: 620px;
}

.FREE-online-courses .rectangle-2 {
  background-color: var(--grey);
  border-radius: 14px;
  height: 160px;
  left: 0;
  position: absolute;
  top: 31px;
  width: 620px;
}

.FREE-online-courses .text-wrapper-42 {
  color: var(--black);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  left: 31px;
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  position: absolute;
  top: 78px;
}

.FREE-online-courses .p {
  color: var(--black);
  font-family: var(--b1-font-family);
  font-size: var(--b1-font-size);
  font-style: var(--b1-font-style);
  font-weight: var(--b1-font-weight);
  left: 31px;
  letter-spacing: var(--b1-letter-spacing);
  line-height: var(--b1-line-height);
  position: absolute;
  top: 127px;
  white-space: nowrap;
}

.FREE-online-courses .illustration {
  height: 191px;
  left: 341px;
  position: absolute;
  top: 0;
  width: 175px;
}

.FREE-online-courses .MENU {
  height: 853px;
  left: 32px;
  position: absolute;
  top: 24px;
  width: 134px;
}

.FREE-online-courses .overlap-9 {
  height: 853px;
  position: relative;
  width: 132px;
}

.FREE-online-courses .rectangle-3 {
  background-color: var(--black);
  border-radius: 24px;
  filter: blur(60px);
  height: 804px;
  left: 51px;
  opacity: 0.7;
  position: absolute;
  top: 49px;
  width: 81px;
}

.FREE-online-courses .rectangle-4 {
  background-color: var(--black);
  border-radius: 24px;
  height: 852px;
  left: 0;
  position: absolute;
  top: 0;
  width: 132px;
}

.FREE-online-courses .text-wrapper-43 {
  color: #ffffff;
  font-family: "Baloo Bhai-Regular", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.FREE-online-courses .vector {
  height: 26px;
  left: 53px;
  position: absolute;
  top: 182px;
  width: 26px;
}

.FREE-online-courses .group-18 {
  height: 26px;
  left: 53px;
  position: absolute;
  top: 535px;
  width: 26px;
}

.FREE-online-courses .group-19 {
  height: 23px;
  left: 53px;
  position: absolute;
  top: 448px;
  width: 26px;
}

.FREE-online-courses .group-20 {
  height: 26px;
  left: 55px;
  position: absolute;
  top: 358px;
  width: 23px;
}

.FREE-online-courses .vector-2 {
  height: 22px;
  left: 52px;
  position: absolute;
  top: 272px;
  width: 28px;
}

.FREE-online-courses .group-21 {
  height: 26px;
  left: 53px;
  position: absolute;
  top: 786px;
  width: 26px;
}
